
/* body{
  background-image: url(https://i.imgur.com/gyYJB84.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */
body{
  background-color: lightgray;
}

/* 
#search-row form {
  padding-top: 20px;
} */

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  background-color: darkgray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}
#index-login{
  width: 150px;
}
.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}
nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.index-page{
  display: grid;
  justify-content: center;
  background-color: lightblue;
  border-radius: 10px;
  width: 500px;
  margin: 20px;
}
#budget-table{
  font-size: 20px; 
  padding: 10px;
  text-align: center
}
.image-size{
  height: 500px;
  width: 800px;
}