
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.login-button {
  width: 150px;
  height: 40px;
  margin: 10px;
  background-image: linear-gradient(to right top, #6886b3, #4e7dc8, #3671db, #2c63ea, #3d4ff4);
  box-shadow: 2px 2px 5px rgba(48, 70, 209, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  border-radius: 10px;
}

.login-button:hover {
  background: rgb(141, 52, 141);
  transition: 0.5s;
}

.login img {
  height: 30px;
}

.logo {
  width: 120px;
  height: 100px;
  opacity: 0.9;
  padding: 5px;
  margin-left: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(48, 49, 61, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.index-image {
  width: 100%;
  z-index: -1;
  margin: -100px 0px 0px 0px;
  position: absolute;
  height: 100%;
  opacity: 0.9;

}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.nav-button {
  font-size: 20px;
  padding: 30px;
}

#index-view {
  display: grid;
  /* justify-content: center; */
  background-color: lightcyan;
  border-radius: 10px;
  width: 500px;
  margin: 100px;
  border: 3px solid grey;

}

.image-size {
  height: 400px;
  width: 550px;
}

#image-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: lightblue;
}

.div-view-trip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#h2-welcome{
  margin: -1px;
}
.view-trip {
  background-color: white;
  border: solid 3px rgb(52, 47, 47);
  border-radius: 30px;
  margin: 5px;
  width: 250px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  background-color: white;
  width: 500px;
  border-radius: 20px;
  height: 150px;
  border: solid 3px black;
  margin: 10px;
}

.view-button {
  width: 110px;
  height: 35px;
  background-image: linear-gradient(to right top, #6886b3, #4e7dc8, #3671db, #2c63ea, #3d4ff4);
  box-shadow: 2px 2px 5px rgba(48, 70, 209, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.delete-button {
  width: 110px;
  height: 35px;
  background-image: linear-gradient(to right top, #9e2837, #b22435, #c51f32, #d8192e, #eb1227);
  box-shadow: 2px 2px 5px rgba(143, 43, 32, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#trip-info{
  background-color: blue;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#image-info{
  background-color: lightblue;
}
#budget-table {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  background-color: cyan
}