body{
  background-color: lightgray;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  background-color: darkgray;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 3px rgba(0, 0, 0, 0.5);
}
#index-login{
  width: 150px;
}
.login img {
  height: 30px;
}
.index-image{
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 85%;
  opacity: 0.8;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}
nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

nav > a {
  margin: 30px;
  text-decoration: none;
  border-radius: 5px;
}

.index-page{
  display: grid;
  /* justify-content: center; */
  background-color: lightblue;
  border-radius: 10px;
  width: 500px; 
}
#budget-table{
  font-size: 20px; 
  padding: 10px;
  text-align: center
}
.image-size{
  height: 500px;
  width: 800px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* margin: 20px; */
  background-color: blue;
}